@import url(variables.css);
@import url(animations.css);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: var(--text-color);
  padding: 3rem;
  box-sizing: border-box;

}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
    to right bottom, 
    var(--gradient-light-green), 
    var(--gradient-medium-green)), 
    url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* clip-path: polygon(50% 0, 100% 100%, 0 100%); */
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: var(--primary-color);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 1.5s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1.5s ease-out;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 1rem;
  transition: background-color 0.2s, color 0.2s;
  margin-top: 5rem;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.btn:hover {
  transform: translateY( -3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY( -1px);
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: var(--primary-color);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn {
  animation: moveInBottom 1.5s ease-out .75s;
  animation-fill-mode: backwards;
}